
package views

import "camplist/internal/packing"

templ NewPackingListPage(name string, form packing.CreatePackingListForm, csrfToken string) {
	@Layout(name) {
		<section>
			<h1>Create a new list</h1>
			<p>Start simple and adjust overtime. Keep is simple!</p>
			@PackingListForm(form, csrfToken)
		</section>
	}
}

templ PackingListForm(form packing.CreatePackingListForm, csrfToken string) {
	<form method="post" action="/new-list" hx-boost="true">
		<input type="hidden" name="_csrf" value={ csrfToken }/>
		<div>
			<label for="name">Name</label>
			<input
				id="name"
				name="name"
				type="text"
				placeholder="Camping"
				value={ form.Name }
			/>
		</div>
		<div>
			<label for="description">Description</label>
			<textarea
				id="description"
				name="description"
				placeholder="A short description of your list"
			>{ form.Description }</textarea>
		</div>
		// errors
		if len(form.Error) > 0 {
			<div class="error">
				<ul>
					for _, err := range form.Error {
						<li>{ err }</li>
					}
				</ul>
			</div>
		}
		<a href="/ui">Cancel</a>
		<button type="submit">Create List</button>
	</form>
}
